<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>
    <header class="v1header"><h2>Form Registration</h2></header>
    <div class="register-form">
        <form action="/register" method="POST">
            <label for="username">User name</label>
            <input type="text" name="username" required>

            <label for="name">Full name</label>
            <input type="text" name="name" required>

            <label for="email">Email</label>
            <input type="text" name="email" required>

            <label for="rol">Rol</label>
            <select name="rol" id="rol" class="select-css">
                <option value="estudiante">Estudiante</option>
                <option value="profesor">Profesor</option>
            </select>


            <label for="pass">Password</label>
            <input type="password" name="pass" required>

            <div style="display: inline;">
                <a href="/" class="btn-cancel">Cancel</a><input type="submit" class="btn-save" value="Save">
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<% if (typeof alert != "undefined")  { %>
<script>
Swal.fire({
    title:'<%= alertTitle %>',
    text:'<%= alertMessage %>',
    icon:'<%= alertIcon %>',
    showConfirmButton: <%= showConfirmButton %>,
    timer: <%= timer %>
}).then(()=>{
    window.location='/<%= ruta %>'
})
    </script>
    <% } %>
</script>
</body>
</html>