<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<!-- BoxIcons -->
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="resources/css/style.css">
</head>
<body>

<!-- ... (tu código previo) -->

        <h1>Tabla de clientes</h1>
        <div class="container">
            <table data-table="table" class="table table-bordered border-dark">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Tel</th>
                <th>Dirección</th>
                <th>Accion</th>
            </tr>
            </thead>
            <% if (users && Array.isArray(users)) { %>
                <tbody class="table table-secondary table-hover table-cus">
                    <% users.forEach((user) => { %>
                        <tr>
                            <td><%= user.id_cliente %></td>
                            <td><%= user.nombre %></td>
                            <td><%= user.apellido %></td>
                            <td><%= user.tel %></td>
                            <td><%= user.direccion %></td>
                            <td>
                                <button type="submit" class="btn btn-info" name="editar">Editar</button>
                                <button type="submit" class="btn btn-danger" name="eliminar">Eliminar</button>
                                <a href="/edit/<%= users.id_cliente %>" class="btn btn-outline-info mt-4 icon-cus">editar</a>
                                <a href="/delete/<%= users.id_cliente  %>" class="btn btn-outline-danger mt-4 icon-cus">eliminar</a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
        </table>
        <% } else { %>
            <p>No se encontraron usuarios.</p>
        <% } %>
        <div>
</body>
</html>
